{% extends 'base.html.twig' %}

{% block body %}
    {%  for resultat in resultats %}
        <h1>Salut sujet n°{{ resultat.id }}!</h1>
        <p>Ton prénom est {{ resultat.prenom }} et ton nom {{ resultat.nom }}!</p>
    {% endfor %}
{% endblock %}
